---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";
import Paginate from "../../components/Paginate.astro";
import Modal from "../../components/Modal.astro";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  return paginate(posts, { pageSize: 5 });
}

const { page } = Astro.props;

type Props = {
  page: {
    lastPage: number;
    data: CollectionEntry<"blog">[];
    url: {
      current: string;
      next: string | undefined;
      prev: string | undefined;
    };
  };
};

// console.log(page);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      li {
        list-style: none;
      }
      ul {
        padding: 0;
      }
      p {
        margin: 0rem;
      }
    </style></head
  >

  <body class="leading-8 text-xl text-left break-words">
    <Header position="fixed" />
    <main class="md:w-1/2 text-gray-500 md:mt-9 mx-auto p-4 px-7 mb-24">
      <section class="mt-[7.3rem]">
        <ul class="flex flex-col flex-wrap gap-10">
          {
            page.data.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <h4 class="text-gray-200 hover:text-slate-400 transition-all duration-75 ease-in text-2xl md:text-3xl">
                    {post.data.title}
                  </h4>
                  <div class="flex gap-4 text-[1rem] items-center">
                    <p class="text-baseGray">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                    <div class="flex">
                      {post.data.tags.map((tag: string) => (
                        <span class="flex gap-1 items-center">
                          <p class="text-xl text-baseGray">/</p>
                          <p class=" text-pink-600">{tag}</p>
                          <p class="text-xl text-baseGray">/</p>
                        </span>
                      ))}
                    </div>
                  </div>
                  <h4 class="text-[1.1rem] md:text-[1.2rem] text-gray-500">
                    {post.data.description}
                  </h4>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
      <div class="flex justify-center h-0 bg-red-500 mt-16">
        <Paginate
          prev={page.url.prev}
          next={page.url.next}
          last={page.lastPage}
        />
      </div>
      <Modal />
    </main>
  </body>
</html>
